*{
  margin: 0;
  padding: 0;
}

* {
  -ms-overflow-style: none !important; /* IE & Edge */
  scrollbar-width: none !important;    /* Firefox */
}


*::-webkit-scrollbar {
  display: none !important;
}

/* Optional: Prevent horizontal scrolling sitewide */
html, body {
  overflow-x: hidden !important;
}
